*{
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    /*LETRA COMO PRIMERA VEZ*/
}



.viñetas{
    list-style: square;
    font-family: 'Lato', sans-serif;
    margin-left: 20px;
    color: aliceblue;
    font-size: 150%;
}
